/* < ---__ / Подключение шрифтов из папки assets/font \ __--- > */


/* < ---__ / Формат TTF \ __--- > */


/***************************************************************************************************************************************************************************************************************/

@mixin fontFacettf ( $fontSrc, $fontFamily, $fontWeight ) {
	@font-face {
		font-family: '#{$fontFamily}';
		src: url("../assets/font/#{$fontSrc}/#{$fontFamily}.ttf");
		font-weight: #{$fontWeight};
		font-display: swap;
		font-style: normal;
	}
}

/***************************************************************************************************************************************************************************************************************/


/* < ---__ / Формат WOFF \ __--- > */


/***************************************************************************************************************************************************************************************************************/

@mixin fontFaceWoff ( $fontSrc, $fontFamily, $fontWeight ) {
	@font-face {
		font-family: '#{$fontFamily}';
		src: url("../assets/font/#{$fontSrc}/#{$fontFamily}.woff2");
		font-weight: #{$fontWeight};
		font-display: swap;
		font-style: normal;
	}
}

/***************************************************************************************************************************************************************************************************************/


/* < ---__ / Формат OTF \ __--- > */


/***************************************************************************************************************************************************************************************************************/

@mixin fontFaceOtf ( $fontSrc, $fontFamily, $fontWeight ) {
	@font-face {
		font-family: '#{$fontFamily}';
		src: url("../assets/font/#{$fontSrc}/#{$fontFamily}.otf");
		font-weight: #{$fontWeight};
		font-display: swap;
		font-style: normal;
	}
}

/***************************************************************************************************************************************************************************************************************/