@import "../Mixin/Font/Font";

/* < ---__ Настройка стилей страницы __--- > */


/* < ---__ Настройка для HTML и Body __--- > */


/***************************************************************************************************************************************************************************************************************/

    $htmlWidth: 100%;
    $htmlHeight: 100%;
    $htmlBackGroundColor: #ffffff;
    $htmlFontFamily: "SfProTextRegular";
    $htmlBacgroundImage: url(https://img.freepik.com/premium-vector/seamless-sakura-petals-falling-realistic-cherry-petals-spring-and-summer-sakura-seamless-pattern_88211-1825.jpg?w=1380);

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Максимальная Ширина Экрана __--- > */


/***************************************************************************************************************************************************************************************************************/

    $ScreenWidth: 1920;

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Блок Wrapper __--- > */


/***************************************************************************************************************************************************************************************************************/

    $WrapperWidth: 1200px;
    $WrapperHeight: 100vh;

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Подключение шрифта для всего сайта __--- > */


/***************************************************************************************************************************************************************************************************************/

    //@include fontFacettf(robot, robot, normal); // формат ttf
	//@include fontFaceWoff(robot, robot, normal); // формат woff2
    //@include fontFaceOtf(robot, robot, normal); // формат otf

    // @include fontFaceOtf(Apple, SfProTextRegular, normal);

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Настройка Текста Тегов ( p, span ) __--- > */


/***************************************************************************************************************************************************************************************************************/


    /* < ---__ Настройка Текста Парагрофа Тег: ( p ) __--- > */


    /* ----------------------------------------------------------------------------------- */

        $ParagraphFontFamily: auto;
        $ParagraphFontSize:  auto;
        

    /* ----------------------------------------------------------------------------------- */


    /* < ---__ Настройка Текста Строки Тег: ( span ) __--- > */


    /* ----------------------------------------------------------------------------------- */

        $LineFontFamily: auto;
        $LineFontSize: auto;

    /* ----------------------------------------------------------------------------------- */


/***************************************************************************************************************************************************************************************************************/


/* < ---__ Настройка Текста Загаловков ( h1, h2, h3, h4, h5, h6 ) __--- > */


/***************************************************************************************************************************************************************************************************************/

    $H_FontFamily: auto;
    $H_FontSize: auto;
    $H_FontWeight: auto;
    $H_Color: #000000;

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Настройка Текста Поля Ввода ( input, textarea ) __--- > */


/***************************************************************************************************************************************************************************************************************/

    $EntryField_FontFamily: auto;
    $EntryField_FontSize: 1rem;
    $EntryField_FontWeight: normal;
    $EntryField_Color: #000000;

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Настройка Кнопки Тег: ( button ) __--- > */


/***************************************************************************************************************************************************************************************************************/

    $Button_FontFamily: auto;
    $Button_FontSize: 1rem;
    $Button_FontWeight: normal;
    $Button_Color: #000000;

/***************************************************************************************************************************************************************************************************************/


/* < ---__ Подключение Цвета для ссылок __--- > */


/***************************************************************************************************************************************************************************************************************/

    $ColorLink: #000000;

/***************************************************************************************************************************************************************************************************************/