/* < ---__ Настройка на весь сайт __--- > */

/***************************************************************************************************************************************************************************************************************/

*,
*::after,
*::before {
    box-sizing: border-box;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки для HTML __---> */

/***************************************************************************************************************************************************************************************************************/

html {
    width: $htmlWidth;
    height: $htmlHeight;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки для BODY __---> */

/***************************************************************************************************************************************************************************************************************/

body {
    width: $htmlWidth;
    height: $htmlHeight;
    margin: 0;
    font-family: $htmlFontFamily;
    @include fontSize(16, 21);
    line-height: 1.4;
    scroll-behavior: smooth;
    background-color: $htmlBackGroundColor;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки ul,ol если добавлен класс __---> */

/***************************************************************************************************************************************************************************************************************/

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        a {
            color: $ColorLink;
            text-decoration: none;
            cursor: auto;
        }

        p {
            margin: 0;
            font-family: inherit;
        }

        span {
            font-family: inherit;
        }

    }
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки Текста Параграфов и Строк Теги: ( p, span ) __---> */


/***************************************************************************************************************************************************************************************************************/

p {
    font-family: $ParagraphFontFamily;
    margin: 0;
}

span {
    font-family: $LineFontFamily;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки Текста Загаловков Теги: ( h1, h2, h3, h4, h5, h6 ) __---> */


/***************************************************************************************************************************************************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $H_FontFamily;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки Поля ввода Тега: ( input, textarea ) __---> */


/***************************************************************************************************************************************************************************************************************/

input,
textarea {
    outline: none;
    padding: 0;
    font-family: $EntryField_FontFamily;
    font-size: inherit;
    font-weight: $EntryField_FontWeight;
    color: $EntryField_Color;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки Кнопки Тега: ( button ) __---> */


/***************************************************************************************************************************************************************************************************************/

button {
    outline: none;
    cursor: pointer;
    font-family: $Button_FontFamily;
    font-size: inherit;
    font-weight: $Button_FontWeight;
    color: $Button_Color;
}

/***************************************************************************************************************************************************************************************************************/


/* <---__ Настройки Image __---> */

/***************************************************************************************************************************************************************************************************************/

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/***************************************************************************************************************************************************************************************************************/